---
layout: base.njk
---

<h1>Jenue's Blog</h1>

<div>
    {%- for post in collections.blog | reverse -%}
    
    <h2 class="blogTitle"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <span class="blogDate">{{ post.date.toLocaleDateString('de', { year: 'numeric', month: 'numeric', day: 'numeric' })}}</span>
    <div class="blogContent">
    
    {{ post.data.content | safe}}
    </div>
    {%- endfor -%}
</div>