---
layout: base.njk
---

<div class="post">
    <h1 class="blogTitle">{{ title}}</h1>
    <p class="blogDate">{{ page.date.toLocaleDateString('de', { year: 'numeric', month: 'numeric', day: 'numeric' }) }}</p>
    <div class="blogContent">
 
    {{ content | safe }}

    </div>
    
</div>